<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="menu-spacer"><img alt="fake coin image" src="assets/ng-fake-coin-xl.png" height="60px" class="coin"></span>

  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">

    <mat-nav-list>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/'"> Home </a>

      @for (remote of remotes; track remote.displayName) {
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="remote.routePath">
          {{ remote.displayName }}
        </a>
      }

      <a mat-list-item (click)="sidenav.toggle()">Close </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class='content-wrapper'>
      <div class='content-spacer'>
      <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

